.navbar {
    padding: 10px;
    background:rgb(135, 144, 231);
  }
  
  .navbar a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bolder;
  }
  
  .navbar a:hover {
    text-decoration: underline;
    color: rgb(159, 222, 241);
    
  }
  
  .navbar{
    text-align: right;
  }